---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { LICENSE, type License } from "@utils/license";

interface Creator {
  name: string;
  url: string;
}

interface Work {
  image?: ImageMetadata;
  title: string;
  url: string;
  creator: Creator;
  year: number;
  license?: License;
}

interface Props extends Work {}

const {
  image,
  title,
  url,
  creator,
  year,
  license = LICENSE.BY_SA,
} = Astro.props;
---

{
  image && (
    <div class="full-width-image">
      <img src={image.src} alt="" />
    </div>
  )
}
<p class="attribution">
  <a href={url}>{title}</a> © {year} by <a href={creator.url}>{creator.name}</a
  > is licensed under <a href={license.url}>{license.name}</a>
  {license.iconUrls.map((iconUrl) => <img src={iconUrl} alt="" class="icon" />)}
</p>

<style>
  .full-width-image {
    width: calc(100% + 4rem);
    margin: -2rem -2rem 0 -2rem;
  }

  .full-width-image img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .icon {
    display: inline;
    max-width: 1em;
    max-height: 1em;
    margin: 0 0 0 0.2em;
  }

  .attribution {
    margin: 1.25em 0 1.25em 0;
  }
</style>
